/* styles.css */

body {
    background-color: #333333;
    color: white; /* Cambiar el color del texto a blanco */
}

.title {
    color: #06680b;
}

.button-primary {
    background-color: #008000; /* Cambiar el color de fondo del botón a verde */
    color: white; /* Cambiar el color del texto del botón a blanco */
}

.button{
    background-color: #008000; /* Cambiar el color de fondo del botón a verde */
    color: white; /* Cambiar el color del texto del botón a blanco */
}

p{
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Estilos para el contenedor de entrada de texto */
.text-input-container {
    margin-bottom: 15px;
}

/* Estilos para los campos de entrada de texto */
.text-input {
    border: 2px solid white;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.st-emotion-cache-7ym5gk.ef3psqc6 {
    background-color: #2e692e; /* Cambiar el color de fondo del botón a verde */
    color: white; /* Cambiar el color del texto del botón a blanco */
}

.st-emotion-cache-6qob1r.eczjsme3 {
    background-color: #158237; /* Cambiar el color de fondo del botón a verde */
    color: white; /* Cambiar el color del texto del botón a blanco */
}
.st-emotion-cache-18ni7ap.ezrtsby23 {
    background-color: #333333; /* Cambiar el color de fondo a gris */
    color: white; /* Cambiar el color del texto del botón a blanco */
}

h1{
    color: #333333;
    font-weight: bold;
    margin-bottom: 5px;
}

.st-emotion-cache-10trblm.e1nzilvr1 {
    color: #1ac24f; /* Cambiar el color  */
}

.st-emotion-cache-7ym5gk.ef3psqc11{
    background-color: #008000; /* Cambiar el color de fondo del botón a verde */
    color: white; /* Cambiar el color del texto del botón a blanco */
}

.st-emotion-cache-18ni7ap.ezrtsby2{
    background-color: #333333; /* Cambiar el color de fondo superior a gris */
    color: white; 
}


/* st-emotion-cache-7ym5gk ef3psqc6 */
/* st-emotion-cache-7ym5gk ef3psqc6 */
/* st-emotion-cache-7ym5gk ef3psqc6 */
/* st-emotion-cache-6qob1r eczjsme3 */
/* st-emotion-cache-18ni7ap ezrtsby2 */
/* 2e692e */
/* st-emotion-cache-10trblm e1nzilvr1 */
/* element-container st-emotion-cache-1gi7qys e1f1d6gn2 */
/* st-emotion-cache-7ym5gk ef3psqc11 */
/* st-emotion-cache-18ni7ap ezrtsby2 */